LoanApprovalClient/src/wsdl/localhost_8080/LoanApproval/ProcessRequestWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://service.loanapproval.esae.bscwi.fhnw.ch/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.loanapproval.esae.bscwi.fhnw.ch/">

<xs:element name="processRequest" type="tns:processRequest"/>

<xs:element name="processRequestResponse" type="tns:processRequestResponse"/>

<xs:complexType name="processRequest">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
<xs:element name="arg1" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="processRequestResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>